/* Estilos básicos */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Hace que el cuerpo ocupe al menos el 100% de la altura de la ventana */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo del Header */
.header {
    background-color: #61e8df;
    padding: 1rem;
    text-align: center;
    position: sticky; /* Hace que el header se mantenga fijo al hacer scroll */
    top: 0; /* Posiciona el header en la parte superior de la ventana */
    z-index: 1000; /* Asegura que el header esté por encima de otros elementos si es necesario */
    box-shadow: 0 1px 5px 1px #61e8df;
    display: flex;
    max-height: 100px;
    justify-content: space-around;
    align-items: center;
}
.header .logoDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logoDiv img{
    width: 80px;
    height: 80px;
    cursor: pointer;
}
.header .titleHeader{
    margin-left: 30px;
    margin-right: 30px;
}
.titleHeader h1{
    font-family: 'Courier';
    font-size: 33px;
    font-weight: 900;
    color: #6171e8;
    text-shadow: 01px 1px 20px darkmagenta;
}
.header .navegacion{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    height: 100%;
}

.navegacion button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.3); /* Fondo blanco semitransparente */
    backdrop-filter: blur(8px); /* Aplica el efecto de difuminado */
    border: 1px solid rgba(255, 255, 255, 0.5); /* Borde semitransparente */
    cursor: pointer;
    width: auto;
    height: 40px;
    padding: 12px;
    color: #6171e8;
    font-family: 'Courier';
    font-size: 20px;
    font-weight: 800;
    border: 0.1px solid white;
    border-radius: 15px;
    margin-right: 10px;
    box-shadow: 0 0 10px 2px rgba(245, 245, 245, 0.5);
    transition: 300ms;
}
.navegacion button:hover{
    background-color: rgba(255, 255, 255, 0.3); /* Fondo blanco semitransparente */
    backdrop-filter: blur(8px); /* Aplica el efecto de difuminado */
    border: 1px solid rgba(255, 255, 255, 0.5); /* Borde semitransparente */
    padding: 20px;
    box-shadow: 0 0 10px 2px rgba(245, 245, 245, 0.5);
}


/* Estilo del contenido principal */
.main {
    flex: 1; /* Permite que el contenido principal ocupe el espacio restante */
    padding: 2rem;
    background-color: #ffffff;
    margin: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.main .infoDiv{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
    transition: 500ms;
    padding: 10px;
    border-radius: 20px;
    background-color: rgba(174, 255, 252, 0.5);
}
.main .infoDiv:hover{
    transform: scale(1.025);
}
.infoDiv .textoDiv{
    height: 100%;
    width: 50%;
    margin-right: 20px;
    margin-left: 20px;
}
.textoDiv blockquote{
    font-size: 22px;
    font-family: 'Courier';
    text-align: justify;
    font-weight: 500;
}
.textoDiv h1{
    font-family: 'Courier';
    font-size: 38px;
    font-weight: 900;
    color: #6171e8;
    text-shadow: 01px 1px 20px rgb(255, 91, 255);
}
.infoDiv .imgDiv{
    height: auto;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgDiv img{
    width: 100%;
    height: 100%;
    border-radius: 30px;
}
.miniTitleContainer{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

/* Estilo del Footer */
.footer {
    background-color: #61e8df;
    color: #013274;
    text-align: center;
    padding: 1rem;
    bottom: 0;
    box-shadow: 0 -1px 5px 1px #61e8df;
}

.txt{
    color: #b1b6c9;
}
.txt2{
    color: #454869;
}

.separador{
    width: 100%;
    height: 80px;
}
.imgSepContainer{
    position: relative;
    width: 100%;
    height: 100%; /* Altura fija para la imagen */
    display: flex;
    justify-content: center;
    align-items: center;

}


.imagen {
    width: 70%; /* La imagen ocupará el 70% del contenedor */
    height: auto;
    border-radius: 30px;
    transition: transform 0.5s ease;
}

.textoIMG {
    font-family: 'Courier';
    font-size: 20px;
    position: absolute;
    left: 50%; /* Aparece en el espacio libre */
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    padding: 10px;
    white-space: nowrap;
    opacity: 0; /* Texto invisible al principio */
    transition: opacity 0.5s ease, left 0.5s ease;
}

.imgSepContainer:hover .imagen {
    transform: translateX(-20%); /* Desplaza la imagen hacia la izquierda */
}

.imgSepContainer:hover .textoIMG {
    opacity: 1; /* Muestra el texto */
    left: 72%; /* Ajusta la posición del texto */
    box-shadow: 0 1px 50px 0px #6f6f6f;
}
.hol{
    color: red;
}