.formContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 50%;
    padding: 20px 10px 20px 10px;
    border-radius: 20px;
    background-color: rgba(0, 255, 255, 0.5); /* Fondo blanco semitransparente */
    box-shadow: 0px 0px 10px 2px rgba(0, 255, 255, 0.5);
}
.formContainer .formDenuncia{
    padding: 0;
}

.divInputs{
    position: relative;
    margin: 20px 0 20px 0;
    width: auto;
    height: auto;
}

.divInputs-nums{
    position: relative;
    display: flex;
    text-align: left;      /* Alinea el texto a la derecha */
    justify-content: space-between;
    margin: 20px 0 20px 0;
    width: auto;
    height: auto;
}

.divInputs input, .divInputs-nums input{
    position: relative;
    width: 100%;
    height: 30px;
    border: 1px solid transparent;
    border-radius: 17px;
    padding-left: 10px;
    padding-right: 30px; /* Espacio a la derecha para el icono */
    box-sizing: border-box; /* Asegura que el padding se incluya en el tamaño total del input */
    font-size: 16px;
    font-family: 'Courier';
    transition: 300ms;
}
.divInputs #desProblema{
    width: 100%;           /* Ancho del área de texto */
    height: 200px;          /* Altura del área de texto */
    text-align: left;      /* Alinea el texto a la derecha */
    vertical-align: top;    /* Asegura la alineación vertical en la parte superior */
    resize: none;           /* Desactiva el redimensionamiento del textarea (opcional) */
    overflow-wrap: break-word; /* Salto de línea automático */
    padding: 10px;          /* Espaciado interior para comodidad */
    box-sizing: border-box; /* Incluye padding y border en el tamaño total */
    border: 1px solid #ccc; /* Borde ligero */
    border-radius: 5px;     /* Bordes redondeados (opcional) */
}
.divInputs input:hover,
.divInputs input:focus, .divInputs-nums input:hover, .divInputs-nums input:focus{
    border-color: #ffffff; /* Color del borde cuando el input es presionado */
    box-shadow: 0 0 10px 1px whitesmoke;
    outline: none; /* Elimina el borde de enfoque predeterminado */
    font-family: 'Courier';
}
.divInputs input::placeholder, .divInputs-nums input::placeholder{
    font-family: 'Courier';
}




.buttoContainer{
    position: relative;
    width: auto;
    height: auto;
    margin: 0 0 15px 0;
}
.buttoContainer .boton{
    display: inline-block;
    width: 100%;
    height: 40px;
    font-size: 19px;
    color: rgb(11, 97, 110);
    background: linear-gradient(to right, #ffffff 50%, rgb(169, 241, 255) 50%);
    background-size: 200% 100%;
    background-position: left bottom;
    border: none;
    border-radius: 44px;
    cursor: pointer;
    transition: background-position 2s ease, color 2s ease; /* Transición suave para el color del fondo y del texto */
    text-align: center;
    text-decoration: none; /* Eliminar el subrayado en enlaces */
}
.buttoContainer .boton:hover{
    background-position: right bottom;
    color: rgb(110, 202, 255);
}
