/* Estilos básicos */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Hace que el cuerpo ocupe al menos el 100% de la altura de la ventana */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo del Header */
.header {
    background-color: #61e8df;
    padding: 1rem;
    text-align: center;
    position: sticky; /* Hace que el header se mantenga fijo al hacer scroll */
    top: 0; /* Posiciona el header en la parte superior de la ventana */
    z-index: 1000; /* Asegura que el header esté por encima de otros elementos si es necesario */
    box-shadow: 0 1px 5px 1px #61e8df;
    display: flex;
    max-height: 100px;
    justify-content: space-around;
    align-items: center;
}
.header .logoDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logoDiv img, .userDiv img{
    width: 80px;
    height: 80px;
    cursor: pointer;
}
.header .titleHeader{
    margin-left: 30px;
    margin-right: 30px;
}
.titleHeader h1{
    font-family: 'Courier';
    font-size: 33px;
    font-weight: 900;
    color: #6171e8;
    text-shadow: 01px 1px 20px darkmagenta;
}
.header .navegacion{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    height: 100%;
}

.navegacion button, .userDiv .menuBoton{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.3); /* Fondo blanco semitransparente */
    backdrop-filter: blur(8px); /* Aplica el efecto de difuminado */
    border: 1px solid rgba(255, 255, 255, 0.5); /* Borde semitransparente */
    cursor: pointer;
    width: auto;
    height: 40px;
    padding: 12px;
    color: #6171e8;
    font-family: 'Courier';
    font-size: 20px;
    font-weight: 800;
    border: 0.1px solid white;
    border-radius: 15px;
    margin-right: 10px;
    box-shadow: 0 0 10px 2px rgba(245, 245, 245, 0.5);
    transition: 300ms;
}
.userDiv .menuBoton{
    font-size: 16px;
    font-weight: 800;
}
.navegacion button:hover, .userDiv .menuBoton:hover{
    background-color: rgba(255, 255, 255, 0.3); /* Fondo blanco semitransparente */
    backdrop-filter: blur(8px); /* Aplica el efecto de difuminado */
    border: 1px solid rgba(255, 255, 255, 0.5); /* Borde semitransparente */
    padding: 20px;
    box-shadow: 0 0 10px 2px rgba(245, 245, 245, 0.5);
}


/* Estilo del contenido principal */
.main {
    flex: 1; /* Permite que el contenido principal ocupe el espacio restante */
    padding: 2rem;
    background-color: #ffffff;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main .infoDiv{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
    transition: 500ms;
    padding: 10px;
    border-radius: 20px;
    background-color: rgba(174, 255, 252, 0.5);
}
.main .infoDiv:hover{
    transform: scale(1.025);
}
.main .infoDiv-txt{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    transition: 500ms;
    padding: 10px;
    border-radius: 20px;
    background-color: rgba(174, 255, 252, 0.5);
}
.main .infoDiv-txt:hover{
    transform: scale(1.025);
}

.textoDiv{
    height: 100%;
    width: 50%;
    margin-right: 20px;
    margin-left: 20px;
}
.textoDiv blockquote, .infoDiv-txt blockquote{
    font-size: 22px;
    font-family: 'Courier';
    text-align: justify;
    font-weight: 500;
}
.textoDiv h1, .infoDiv-txt h1, .titleFrom h1{
    font-family: 'Courier';
    font-size: 38px;
    font-weight: 900;
    color: #6171e8;
    text-shadow: 01px 1px 20px rgb(255, 91, 255);
}
.infoDiv-txt h1{
    padding-left: 50px;
}
.infoDiv .imgDiv{
    height: auto;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgDiv img{
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

.miniTitleContainer{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}


/* Estilo del Footer */
.footer {
    background-color: #61e8df;
    color: #013274;
    text-align: center;
    padding: 1rem;
    bottom: 0;
    box-shadow: 0 -1px 5px 1px #61e8df;
}

.txt{
    color: #b1b6c9;
}
.txt2{
    color: #454869;
}







.separador{
    width: 100%;
    height: 80px;
}
.imgSepContainer{
    position: relative;
    width: 100%;
    height: 100%; /* Altura fija para la imagen */
    display: flex;
    justify-content: center;
    align-items: center;

}


.imagen {
    width: 70%; /* La imagen ocupará el 70% del contenedor */
    height: auto;
    border-radius: 30px;
    transition: transform 0.5s ease;
}

.textoIMG {
    font-family: 'Courier';
    font-size: 20px;
    position: absolute;
    left: 50%; /* Aparece en el espacio libre */
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    padding: 10px;
    white-space: nowrap;
    opacity: 0; /* Texto invisible al principio */
    transition: opacity 0.5s ease, left 0.5s ease;
}

.imgSepContainer:hover .imagen {
    transform: translateX(20%); /* Desplaza la imagen hacia la izquierda */
}

.imgSepContainer:hover .textoIMG {
    opacity: 1; /* Muestra el texto */
    left: 4%; /* Ajusta la posición del texto */
    box-shadow: 0 1px 50px 0px #6f6f6f;
}
.formContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 50%;
    padding: 20px 10px 20px 10px;
    border-radius: 20px;
    background-color: rgba(0, 255, 255, 0.5); /* Fondo blanco semitransparente */
    box-shadow: 0px 0px 10px 2px rgba(0, 255, 255, 0.5);
}
.formContainer .formDenuncia{
    padding: 0;
}
.divInputs{
    position: relative;
    margin: 20px 0 20px 0;
    width: auto;
    height: auto;
}

.divInputs input, .divInputs-nums #fech{
    position: relative;
    width: 100%;
    height: 30px;
    border: 1px solid transparent;
    border-radius: 17px;
    padding-left: 10px;
    padding-right: 30px; /* Espacio a la derecha para el icono */
    box-sizing: border-box; /* Asegura que el padding se incluya en el tamaño total del input */
    font-size: 16px;
    font-family: 'Courier';
    transition: 300ms;
}
.divInputs-nums {
    display: flex;             /* Usa Flexbox */
    flex-wrap: wrap;           /* Permite que los elementos se ajusten en múltiples líneas */
    justify-content: space-between; /* Espacio entre las columnas */
    width: 100%;              /* Ancho del formulario */
    gap: 10px;                 /* Espaciado entre los elementos */
    margin-bottom: 20px;
}
.divInputs-nums input[type="radio"] {
    width: auto;                /* Cada radio button ocupará casi la mitad del contenedor */
    box-sizing: border-box;    /* Incluye el padding y el borde en el ancho total */
    margin-bottom: 10px;       /* Espaciado entre líneas */
}
.divInputs-nums label {
    display: inline-block;     /* Permite que la etiqueta se alinee correctamente */
    cursor: pointer;           /* Cambia el cursor al pasar sobre las opciones */
    margin-left: 5px;          /* Espaciado entre radio button y texto */
    font-family: 'courier';
    font-size: 18px;
}
.divInputs #desProblema{
    width: 100%;           /* Ancho del área de texto */
    height: 100px;          /* Altura del área de texto */
    text-align: left;      /* Alinea el texto a la derecha */
    vertical-align: top;    /* Asegura la alineación vertical en la parte superior */
    resize: none;           /* Desactiva el redimensionamiento del textarea (opcional) */
    overflow-wrap: break-word; /* Salto de línea automático */
    padding: 10px;          /* Espaciado interior para comodidad */
    box-sizing: border-box; /* Incluye padding y border en el tamaño total */
    border: 1px solid #ccc; /* Borde ligero */
    border-radius: 5px;     /* Bordes redondeados (opcional) */
}
.divInputs input:hover,
.divInputs input:focus{
    border-color: #ffffff; /* Color del borde cuando el input es presionado */
    box-shadow: 0 0 10px 1px whitesmoke;
    outline: none; /* Elimina el borde de enfoque predeterminado */
    font-family: 'Courier';
}
.divInputs input::placeholder{
    font-family: 'Courier';
}

.divInputs{
    position: relative;
    margin: 20px 0 20px 0;
    width: auto;
    height: auto;
}

.divInputs-nums{
    position: relative;
    display: flex;
    text-align: left;      /* Alinea el texto a la derecha */
    justify-content: space-between;
    margin: 20px 0 20px 0;
    width: auto;
    height: auto;
}

.divInputs input, .divInputs-nums input{
    position: relative;
    width: 100%;
    height: 30px;
    border: 1px solid transparent;
    border-radius: 17px;
    padding-left: 10px;
    padding-right: 30px; /* Espacio a la derecha para el icono */
    box-sizing: border-box; /* Asegura que el padding se incluya en el tamaño total del input */
    font-size: 16px;
    font-family: 'Courier';
    transition: 300ms;
}
.divInputs input, .divInputs-nums #fech, .buttoContainer #Direccion, .buttoContainer #persona{
    position: relative;
    width: 100%;
    height: 30px;
    border: 1px solid transparent;
    border-radius: 17px;
    padding-left: 10px;
    padding-right: 30px; /* Espacio a la derecha para el icono */
    box-sizing: border-box; /* Asegura que el padding se incluya en el tamaño total del input */
    font-size: 16px;
    font-family: 'Courier';
    transition: 300ms;
}
.buttoContainer #Direccion, .buttoContainer #persona{
    margin-top: 10px;
}
.divInputs #desProblema{
    width: 100%;           /* Ancho del área de texto */
    height: 200px;          /* Altura del área de texto */
    text-align: left;      /* Alinea el texto a la derecha */
    vertical-align: top;    /* Asegura la alineación vertical en la parte superior */
    resize: none;           /* Desactiva el redimensionamiento del textarea (opcional) */
    overflow-wrap: break-word; /* Salto de línea automático */
    padding: 10px;          /* Espaciado interior para comodidad */
    box-sizing: border-box; /* Incluye padding y border en el tamaño total */
    border: 1px solid #ccc; /* Borde ligero */
    border-radius: 5px;     /* Bordes redondeados (opcional) */
}
.divInputs input:hover,
.divInputs input:focus, .divInputs-nums input:hover, .divInputs-nums input:focus{
    border-color: #ffffff; /* Color del borde cuando el input es presionado */
    box-shadow: 0 0 10px 1px whitesmoke;
    outline: none; /* Elimina el borde de enfoque predeterminado */
    font-family: 'Courier';
}
.divInputs input::placeholder, .divInputs-nums input::placeholder{
    font-family: 'Courier';
}




.buttoContainer{
    position: relative;
    width: auto;
    height: auto;
    margin: 0 0 15px 0;
}
.buttoContainer .boton{
    display: inline-block;
    width: 100%;
    height: 40px;
    font-size: 19px;
    color: rgb(11, 97, 110);
    background: linear-gradient(to right, #ffffff 50%, rgb(169, 241, 255) 50%);
    background-size: 200% 100%;
    background-position: left bottom;
    border: none;
    border-radius: 44px;
    cursor: pointer;
    transition: background-position 2s ease, color 2s ease; /* Transición suave para el color del fondo y del texto */
    text-align: center;
    text-decoration: none; /* Eliminar el subrayado en enlaces */
}
.buttoContainer .boton:hover{
    background-position: right bottom;
    color: rgb(110, 202, 255);
}


.buttoContainer{
    position: relative;
    width: auto;
    height: auto;
    margin: 0 0 15px 0;
}
.buttoContainer .boton{
    display: inline-block;
    width: 100%;
    height: 40px;
    font-size: 19px;
    color: rgb(11, 97, 110);
    background: linear-gradient(to right, #ffffff 50%, rgb(169, 241, 255) 50%);
    background-size: 200% 100%;
    background-position: left bottom;
    border: none;
    border-radius: 44px;
    cursor: pointer;
    transition: background-position 2s ease, color 2s ease; /* Transición suave para el color del fondo y del texto */
    text-align: center;
    text-decoration: none; /* Eliminar el subrayado en enlaces */
}
.buttoContainer .boton:hover{
    background-position: right bottom;
    color: rgb(110, 202, 255);
}
